# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: aD7IIU2g

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 23 * * *' 
    - cron: '0 4 * * *'  
    - cron: '0 11 * * *' 

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install fundrive package
      run: pip install fundrive[baidu]
    - uses: actions/checkout@v4
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    # - name: Restore dependencies
    #   run: nuget restore

    # - name: Build
    #   run: msbuild wrapper\wrapper.csproj /p:Configuration=Debug /t:Rebuild /m

    - name: Run App
      env:
        BAIDU_BDUSS : ${{ secrets.BAIDU_BDUSS }}
        X_URL : ${{ secrets.X_URL }}
        X_PWD : ${{ secrets.X_PWD }}
        X_SHOW_LOG : ${{ secrets.X_SHOW_LOG }}
        FORCE_UPLOAD_TYPE : ${{ secrets.FORCE_UPLOAD_TYPE }}
      run: |
        cd wrapper\bin\Debug
        .\wrapper.exe 1
        

    - name: Commit and push the new file
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add wrapper/1.txt
          git add wrapper/2.txt

          git commit -m "Update txt from build output"

          git push origin HEAD:main
